<h2>Link</h2>
<h3>The Legend of Zelda Series</h3>

<img src="images/link.jpg" class="img-responsive" alt="">

<p>Link is the protagonist of Nintendo's video game series The Legend of Zelda. The character appears in several incarnations over the course of the games, and also features in other Nintendo media, including its merchandising, comic books, and a cartoon series. He is one of Nintendo's main icons as well as one of the most well-known and popular characters in video game history. Shigeru Miyamoto, his creator, gave his full name as Link Link.</p>
