<h2>The Doctor</h2>
<h3>Doctor Who Series</h3>

<img src="images/the-doctor.jpg" class="img-responsive" alt="">

<p>The Doctor is the title character and protagonist in the long-running BBC science fiction television programme Doctor Who. The character has also been featured in one made-for-television film, and a vast range of spin-off novels, audio dramas and comic strips. In the programme, "the Doctor" is the alias assumed by a centuries-old alien—a Time Lord from the planet Gallifrey—who travels through space and time in his TARDIS, frequently with companions.</p>
